<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Recipes-APP</title>
    {% endif %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="{% url 'recipes-home' %}">Recipes App</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a
                  class="nav-link"
                  aria-current="page"
                  href="{% url 'recipes-home' %}"
                  >Recipes</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'recipes-about' %}">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'recipes-create' %}">Add recipe</a>
              </li>
              {% comment %} <li class="nav-item">
                <a class="nav-link" href="{% url 'recipes-create' %}">Add Recipe</a>
              </li> {% endcomment %}
            </ul>
            <div class="navbar-nav ">
                {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{%  url 'user-profile' %}">Profile</a>
                <a class="nav-item nav-link" href="{%  url 'user-logout' %}">Logout</a>
                {% else %}
                <a class="nav-item nav-link" href="{%  url 'user-login' %}">Login</a>
                <a class="nav-item nav-link" href="{%  url 'user-register' %}">Register</a>
                {% endif %}
            </div>
          </div>
        </div>
      </nav>

    <!-- Block-->
    <div class="container mt-4 col-8">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}"> {{ message }}</div>
        {% endfor %}
        {% endif %}
        {% block content %} {% endblock content %}
    </div>
    <!-- END Block-->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>