{% extends "recipes/base.html" %}
<!--  -->
{% block content %}
<div class="row">
{% for recipe in recipes %}
<div class="card m-2" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{ recipe.title }}</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">{{ recipe.author }} | {{ recipe.created_at|date:"F d, Y" }}</h6>
      <p class="card-text">{{ recipe.description }}</p>
      <a href="{% url 'recipes-detail' recipe.pk %}" class="card-link">View Recipe</a>
      {% comment %} <a href="#" class="card-link">Another link</a> {% endcomment %}
    </div>
  </div>
    {% endfor %}
</div>
{% endblock content %}