{% extends "recipes/base.html" %}
<!--  -->
{% block content %}
<h2>Recipe # {{ object.id }}</h2>
<div class="row">
<div class="card m-2" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{ object.title }}</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">{{ object.author }} | {{ object.created_at|date:"F d, Y" }}</h6>
      <p class="card-text">{{ object.description }}</p>
      <a href="#" class="card-link">View Recipe</a>
      {% comment %} <a href="#" class="card-link">Another link</a> {% endcomment %}
    </div>
  </div>
</div>
{% if object.author == user or user.is_staff %}
<div class="col-4">
  <a class="btn btn-outline-info" href="{% url 'recipes-update' object.id %}">Update</a>
  <a class="btn btn-outline-danger" href="{% url 'recipes-delete' object.id %}">Delete</a>
</div>
{% endif %}
{% endblock content %}