{% extends "recipes/base.html" %} {% load crispy_forms_tags %}
<!-- -->
{% block content %}
<div class="container">
    <form action="" method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"> Log in !</legend>
            {{ form|crispy }}
            <!-- {{ form.as_p }} as_p => Displaying everything as a paragraph -->
        </fieldset>

        <div class="form-group py-3">
            <input class="btn btn-outline-primary" type="submit" value="Login">
        </div>
    </form>

    <div class="border-top pt-3">
        <a href="#">Don't have an account yet? Register HERE.</a>
    </div>
</div>{% endblock %}