{% extends "recipes/base.html" %} 
<!-- -->
{% block content %}
<div class="container">
    <h3>You have been logged out !</h3>
    <div class="border-top pt-3">
        <a href="{% url 'user-login' %}">Log back again ..</a>
    </div>
</div>{% endblock %}